body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container{
  max-width: 80%;
  margin: 50px auto;
}
.heading-img-container{
  height: 200px;
  width: 200px;
}
.heading-img{
  max-height: 200px;
  max-width: 200px;
  background-size: cover;
  background-position: top;
}
.o-spacebetween-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.o-flexstart-wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
p{
  margin: 0;
  padding: 0;
}
.u-margin-top-10{
  margin-top: 10px;
}
.e-article-title{
  font-size: 18px;
  font-family: sans-serif;
  color: #000;
}
.e-article-wrapper a{
  color:#000;
  text-decoration: none;
}
.e-article-wrapper{
  border: 1px solid #eee;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}
.u-authorandsource-info{
  color: #aaa;
  font-size: 12px;
}
.fa{
  height: 10px;
  width: 10px;
}